
.pic img {
  box-shadow: 10px 5px 5px #3e606f;
}

div.pic {
  display: flex;
  align-items: center;
}

main section {
  padding: 10px;
  display: inline-block;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 30px;
  text-align: center;
}
main h2 {
  display: flex;
  justify-content: center;
}



main {
  padding: 1em;
  display: flex;
}

section {
  margin-bottom: 2em;
}


